# Local Configuration

# Dependencies
node_modules

# Temporary files
.tmp

# Project
dist

# Local files
/assets
/lib
/app.js
/log
/app

# Miscellaneous
*~
*#
.DS_STORE
.netbeans
nbproject
.info
.idea
.vscode
.cache
.node_history
dump.rdb
npm-debug.log
lib-cov
*.seed
*.log
*.out
*.pid
